@tailwind base;
@tailwind components;
@tailwind utilities;

.columnDashboard {
  width: 100%;
  height: max-content;
  border-radius: 20px;
  text-align: center;
  font-weight: 700;
  padding: 12px;
}


.mainfloat{
  width: 1184px;
  display: block;
}

.clearFix::after{
  display: block;
  clear: both;
  content: "";
}

.summaryfloat{
  float: left;
  margin: 0px 24px 24px 24px;
}

.projectfloat{
  float: right;
}

.shadowBox{
    border: 1px solid #FBFBFB;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.05);
}

.font16 {
  font-size: 16px;
  color: black;
}

.font35 {
  font-size: 35px;
  color: black;
}

th {
  font-size: 14px;
  font-weight: 500;
  padding:8px;
  color: black;
}

td {
  font-size: 14px;
  padding: 8px;
  color: black;
}

.chart-wrapper {
  width: 80%;
  height: 100%;
}

#lineChart{
  height: 500px !important;
}

.textOverflow{
  max-width: 150px;
  white-space: nowrap; 
  text-overflow: ellipsis; 
  overflow: hidden;
  text-align: start;

}

.pieChartBox{
  width: 100% !important;
  height: 400px !important;
  color: black;
}

#pieChart{
  height: 350px !important;
}

canvas {
  max-width: 100%;
  max-height: 100%;
}

